<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>mymodule</name>
    <displayName><![CDATA[my first module]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[add btn module by lmakowski]]></description>
    <author><![CDATA[lmakowski]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>